@import "./variables/colors";
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap');

// -mediaq
/* html {
  font-size: 16px;
}

@media screen and (min-width: 800px) {
  html {
    font-size: 17px;
  }
}

@media screen and (min-width: 1280px) {
  html {
    font-size: 18px;
  }
}

// Full HD
@media screen and (min-width: 1920px) {
  html {
    font-size: 19px;
  }
}

// (2K and above)
@media screen and (min-width: 2560px) {
  html {
    font-size: 20px;
  }
}

// (4K and above)
@media screen and (min-width: 3840px) {
  html {
    font-size: 22px;
  }
} */
// -mediaq

// body {
//   font-family: "Noto Sans Mono", monospace;
// }

.animated-btn {
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 black;
    background-color: #62008f;
    // color: white
  }

  &:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 black;
  }
}