$color-primary-100: #62008f;
$color-primary-200: #752a9c;
$color-primary-300: #8846a8;
$color-primary-400: #9a60b5;
$color-primary-500: #ab7ac1;
$color-primary-600: #bc94ce;

$color-surface-100: #15061e;
$color-surface-200: #292033;
$color-surface-300: #403849;
$color-surface-400: #595160;
$color-surface-500: #726b79;
$color-surface-600: #8d8792;

$color-surface-mixed-100: #1c0b28;
$color-surface-mixed-200: #31223d;
$color-surface-mixed-300: #483a52;
$color-surface-mixed-400: #605369;
$color-surface-mixed-500: #786d80;
$color-surface-mixed-600: #928898;